PostFixTranslater/PostFixTranslater.4.0.resharper.user
PostFixTranslater/PostFixTranslater.Test/bin/
PostFixTranslater/PostFixTranslater.Test/obj/
PostFixTranslater/PostFixTranslater.suo
PostFixTranslater/PostFixTranslater/bin/
PostFixTranslater/PostFixTranslater/obj/
PostFixTranslater/_ReSharper.PostFixTranslater/
RomanNumeralTranslator/RomanNumeralTranslator.4.0.resharper.user
RomanNumeralTranslator/RomanNumeralTranslator.Test/bin/
RomanNumeralTranslator/RomanNumeralTranslator.Test/obj/
RomanNumeralTranslator/RomanNumeralTranslator.suo
RomanNumeralTranslator/RomanNumeralTranslator/bin/
RomanNumeralTranslator/RomanNumeralTranslator/obj/
RomanNumeralTranslator/_ReSharper.RomanNumeralTranslator/
SimpleAssemblyGen/
*.resharper.user
